.cancel {
    margin-right: 10px;
}

.form-actions {
    margin: 10px 0;
}

.booked{
    color: red;
    float : right;
}
.available{
    color : green;
    float : right;
}
.inuse{
    float : right;
}
